body {
    font-family: 'Rubik', sans-serif;
    margin: 0%;
}

.orange-color {
    color: #12B4FC;
}

section {
    display: flex;

}

.half-width {
    width: 50%;
    padding: 2%;
    font-size: xx-large;

}

.half-width img {
    width: 100%;
    height: 100%;
}

.link-button {
    background-image: linear-gradient(rgb(4, 187, 248)30%, white);
    ;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border-radius: 5em;
}

.mid {
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.mid img {
    width: 70.5%;
    height: 92.5%;

}

#about-me {
    margin-top: 5%;
    margin-right: 5%;
}

#button-2 {
    margin-top: 10%;
}

.my_recipie {
    text-align: center;
    color: gray;
}

.mid_recipie {
    display: flex;

}

.native {
    width: 30%;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 5%;
    padding: 2%;
    border-radius: 2em;





    box-shadow: 10px 10px 40px grey;

}

.native img {
    width: 100%;
    border-radius: 2em;

}

.followers {
    display: flex;
    box-shadow: 10px 10px 40px grey;
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
    height: fit-content;


}

.description {
    padding-left: 5%;
    margin-left: 15%;
    margin-top: 10%;
    padding-bottom: 10%;

}

footer {
    background-color: #0B0D17;
    color: white;
    text-align: center;
    margin-top: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.description h1 {
    font-size: xx-large;
}

.my_recipie h2 {
    font-size: xx-large;
    font-weight: bold;
}

.mid_recipie p {
    color: gray;

}